language: go
sudo: false
go:
  - 1.6
before_install:
  - go get github.com/mattn/goveralls
  - chmod +x scripts/coverage.sh
script:
  - ./scripts/coverage.sh
  - $HOME/gopath/bin/goveralls -service=travis-ci -coverprofile="$workdir/cover.out"
